
<h2><%=l(:label_my_projects)%></h2>

<div class="splitcontentleft">
<% content_for :main_menu  do %>
	 <% @projects.each  do |p| %>
	 	<% project_content_menu = render_content_menu(p)%>
	  	<% if project_content_menu.nil? %>
	  		<%= p.name %>
	  	<% end %>
	<% end%>
<%end%>
</div>

<div>
	<p>TODO :: news/microwebs/</p>
</div>