
<!-- <h2><%=l(:label_my_projects)%></h2> -->

<div class="splitcontentleft">
<% content_for :main_menu  do %>
	 <% @projects.each  do |p| %>
	             <% menu_items_for(:content_menu) do |item| %>
        		      <%= render_menu_node(item, p) %>
  	             <% end %>
	<% end%>
<%end%>
</div>

<div>

	<%= render_tabs project_content_tabs %>
</div>