<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>您好：</h1>
    <p>
      你所关注的项目 <%= @task.project.name %>有项目报表已发布。报表编号 <%=@task.id%>。你可以使用以下链接登录并查看报表。
    </p>
    <p>报表链接：<%= @url %></p>

    <div>
      <br>
      <br>
      <br>
      "----------------------"
    </div>
    <div>
      此邮件乃系统自动发送，请勿回复。
    </div>
  </body>
</html>