<% content_for :main_menu  do %>
	<% unless @projects.blank? %>
		 <% @projects.each  do |p| %>
		             <% menu_items_for(:content_menu) do |item| %>
	        		    <ul>  <%= render_menu_node(item, p) %> </ul>
	  	             <% end %>
		<% end%>
	<% end %>
<%end%>

<%= render :file => "layouts/base" %>