<% content_for :main_menu  do %>
	<% unless @projects.blank? %>
		 <% @projects.each  do |p| %>
		             <% menu_items_for(:report_menu) do |item| %>
	        		      <%= render_menu_node(item, p) %>
	  	             <% end %>
		<% end%>
	<% end %>
<%end%>

<%= render :file => "layouts/base" %>